html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.inner {
    display: flex;
    flex: 0 1 1200px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1f2937;
}

header .inner {
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #f9f1f8
}

.inner ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 30px;
}

.inner a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}